<!DOCTYPE html>
<html>
<head>
	<title>My Simple Web Page</title>
	<link rel="stylesheet" type="text/css" href="/static/index.css">
</head>
<body>
	<header>
		<h1> Web Page</h1>
		<nav>
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
	</header>
	
	<main>
		<p>Main content area.</p>
		<p>You can adda more text here.</p>
		<p>Random Quote:{{random_quote}}</p>
	</main>
	
	<footer>
		<p>Contact Information: </p>
		<p>Email: viveksjadons37@gmail.com</p>
		<p>Phone: 7440957109</p>
	</footer>
</body>
</html>